[submodule "05_aop-test"]
	path = 05_aop-test
	url = ./05_aop-test
[submodule "01_http_transport_method"]
	path = 01_http_transport_method
	url = ./01_http_transport_method
[submodule "02_nest_ioc"]
	path = 02_nest_ioc
	url = ./02_nest_ioc
[submodule "03_debug_test"]
	path = 03_debug_test
	url = ./03_debug_test
[submodule "04_custom-provider"]
	path = 04_custom-provider
	url = ./04_custom-provider
[submodule "06_all-decorator"]
	path = 06_all-decorator
	url = ./06_all-decorator
[submodule "10_middleware-test"]
	path = 10_middleware-test
	url = ./10_middleware-test
[submodule "12_pipe-test"]
	path = 12_pipe-test
	url = ./12_pipe-test
[submodule "11_interceptor-test"]
	path = 11_interceptor-test
	url = ./11_interceptor-test
[submodule "13_exception-filter-test"]
	path = 13_exception-filter-test
	url = ./13_exception-filter-test
[submodule "15_nest-multer-upload"]
	path = 15_nest-multer-upload
	url = ./15_nest-multer-upload
[submodule "07_custom-decorator"]
	path = 07_custom-decorator
	url = ./07_custom-decorator
[submodule "08_argument-host"]
	path = 08_argument-host
	url = ./08_argument-host
[submodule "09_dynamic-module"]
	path = 09_dynamic-module
	url = ./09_dynamic-module
[submodule "14_version-test"]
	path = 14_version-test
	url = ./14_version-test
[submodule "16_express-mutler-test"]
	path = 16_express-mutler-test
	url = ./16_express-mutler-test
